<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Home</title>
</head>
<body>
    <div class="container"  method="post" action="/menu">
        {% for items in events.values() %}
        <div class="mini-container">
            <h3>Šport: &nbsp; {{items["sport"] | safe}} </h3> 
            <h4>Čas:&nbsp; {{ items["date"] | safe}} &nbsp;&nbsp; {{ items["time"] | safe}}</h4>
            <h4>Meno: &nbsp;{{items["name"] | safe}} </h4>
            <p>Popis: <br> {{items["description"] | safe}} </p>         
        </div>
        {% endfor %}
        <br>
        <div>
            <a href="{{ url_for('new_event') }}"><button class="btn">New Event</button></a>
        </div>
    </div>
    
</body>
</html>